@using Microsoft.AspNetCore.Identity
@using SGQ.Domain.Entities
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager
@{
    ViewData["Title"] = "Página Inicial";
}


<div class="row">
    <div class="col-md-4">
      
        @Html.ActionLink("Atividades", "Index", "Atividade", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-4">
    
        @Html.ActionLink("Não Conformidades", "Index", "NaoConformidade", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-4">
     
        @Html.ActionLink("Processo", "Index", "Processo", null, new { @class = "btn btn-primary" })
    </div>
</div>

