@model NaoConformidadeModel

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>NaoConformidade</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TipoConformidade" class="control-label"></label>
                <input asp-for="TipoConformidade" class="form-control" />
                <span asp-validation-for="TipoConformidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessoId" class="control-label"></label>
                <input asp-for="ProcessoId" class="form-control" />
                <span asp-validation-for="ProcessoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnaliseCausaRaiz" class="control-label"></label>
                <input asp-for="AnaliseCausaRaiz" class="form-control" />
                <span asp-validation-for="AnaliseCausaRaiz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evidencia" class="control-label"></label>
                <input asp-for="Evidencia" class="form-control" />
                <span asp-validation-for="Evidencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioResponsavelId" class="control-label"></label>
                <input asp-for="UsuarioResponsavelId" class="form-control" />
                <span asp-validation-for="UsuarioResponsavelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAvaliacao" class="control-label"></label>
                <input asp-for="DataAvaliacao" class="form-control" />
                <span asp-validation-for="DataAvaliacao" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCadastro" class="control-label"></label>
                <input asp-for="DataCadastro" class="form-control" />
                <span asp-validation-for="DataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataModificacao" class="control-label"></label>
                <input asp-for="DataModificacao" class="form-control" />
                <span asp-validation-for="DataModificacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioCadastroId" class="control-label"></label>
                <input asp-for="UsuarioCadastroId" class="form-control" />
                <span asp-validation-for="UsuarioCadastroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioModificacaoId" class="control-label"></label>
                <input asp-for="UsuarioModificacaoId" class="form-control" />
                <span asp-validation-for="UsuarioModificacaoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
