@page
@model IndexModel
@{
    ViewData["Title"] = "SGQ Web Application Dev";
}

<div class="text-center">
    <h1 class="display-4">SGQ Web</h1>
    <p>Aplicação para controle de qualidade e processo.</p>
</div>
